* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body {
	background-color: #fff;
	color: #555;
	font-family: ' Roboto-Regular', sans-serif;
    text-rendering: optimizeLegibility;
    width:100%;
}
@font-face { font-family: Roboto-black; src: url('../fonts/Roboto-Black.ttf'); }
@font-face { font-family: Roboto-Black-Italic; src: url('../fonts/Roboto-BlackItalic.ttf'); }
@font-face { font-family: Roboto-Bold; src: url('../fonts/Roboto-Bold.ttf'); }
@font-face { font-family: Roboto-Bold-Italic; src: url('../fonts/Roboto-BoldItalic.ttf'); }
@font-face { font-family: Roboto-Italic; src: url('../fonts/Roboto-Italic.ttf'); }
@font-face { font-family: Roboto-Light; src: url('../fonts/Roboto-Light.ttf'); }
@font-face { font-family: Roboto-Light-Italic; src: url('../fonts/Roboto-LightItalic.ttf'); }
@font-face { font-family: Roboto-Medium; src: url('../fonts/Roboto-Medium.ttf'); }
@font-face { font-family: Roboto-Medium-Italic; src: url('../fonts/Roboto-MediumItalic.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Thin; src: url('../fonts/Roboto-Thin.ttf'); }
@font-face { font-family:Roboto-Thin-Italic; src: url('../fonts/Roboto-ThinItalic.ttf'); }




/* The container */

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.grilled__mtm {
	margin-bottom: 15px;
}


/* Hide the browser's default checkbox */

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 15px;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
	background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn {
	width: 200px;
	padding: 10px 0;
	border-radius: 5px;
	text-align: center;
	letter-spacing: 5px;
	cursor: pointer;
	outline: none;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #ccc;
}
.icon {
	display: none;	
}

.grilled__col-3 {
	width: 25%;
	float: left;
}

section,
footer {
	clear: both;
}

.grilled__h1 {
	color: #fff;
    font-size: 30px;
    font-family: Roboto-Light; 
}

.grilled__h3 {
	color: #fff;
    font-size: 14px;
    font-family: Roboto-Medium;
}

.grilled__p {
    color: #fff;
    font-family: Roboto-Light; 
	font-size: 14px;
}
.grilled__box {
	padding: 1%;
}
.grilled--mtl{
	margin-top: 35px;
}



/* --------------------- */


/* -------Header-------- */


/* --------------------- */

.navigation {
    margin: 0 auto;
    padding: 10px 40px 0px 40px;
} 
.navigation__header-logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
	position: absolute;
}

.navigation__header-logo-text {
	display: inline-block;
	color: #E9474B;
	font-size: 20px;
	margin-top: 55px;
	margin-left: 130px;
}

.navigation__header-nav--ul {
	float: right;
	margin-top: 55px;
}

.navigation__header-nav--li {
	display: inline-block;
	margin-left: 40px;
}

.navigation__header-nav--a {
	color: #4A4A4A;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	cursor: pointer;
}


/* --------------------- */


/* -------Section Slider-------- */


/* --------------------- */

.slider {
	width: 100%;
    margin-top: 20px;
    float:left;
    background: #E9474B;

}

.slider__left-content {
	width: 74%;
    float: left;
}
.slider__image-arrow {
    width: 30px;
    height: 20px;
    position: relative;
    left: 10px;
    top: 5px;
}

.slider__image{
	height: 512px;
	width: 100%;
	float: left;
}

.slider__right-content {
	float: right;
	width: 26%;
    height: 512px;
    padding:30px;
}

.grilled__slider--button {
	background: #fff;
	color: #979797;
	margin: 65px auto;
	height: 45px;
	letter-spacing: 0.23px;
}


/* ---------------------------------------------- */


/* -------Section Recipe filter accordion-------- */


/* ---------------------------------------------- */

.filter__recipe-type{
    width: 100%;
    float: left;
    background: #f6f6f6;

}
.filter__recipe-heading {
	margin: 50px 0px 30px 60px;

}
.filter__recipe-accordion  {
    width :90%;
    margin:0px 5% 0px 5%;
    padding: 10px;
    float: left;
    background: #E9474B;
}
.btn__filter {
    float: left;
    background: #E9474B;
    color: #fff;
    height: 45px;
    letter-spacing: 0.23px;
    margin: 0px 0% 0px 5%;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    padding: 0px;
}
.filter__sort-by {
    float:left;
    margin: 10px 10px 0px 10%;
}
.btn__sortBy {
    float: left;
    background: #fff;
    color: #2F363E;
    height: 40px;
    letter-spacing: 0.23px;
    margin: 0px 0px 0px 1%;
    border: 0px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0px;
}
.filter__search {
  float:right;  
  margin-right: 65px;
}
.filter__search_icon {
    width: 28px;
    position: relative;
    height: 22px;
    top: 7px;

}


/* ---------------------------------------------- */
/* ------------Section Recipe Overview----------- */
/* ---------------------------------------------- */

.grilled__box img {
	width: 100%;
	height: 250px;
	margin-bottom: -5px;
}
.recipe__list {
	width:22%;
	float:left;
}
.recipe__main-container {
    padding: 45px;
    float:left;
    background: #f6f6f6;

}
.recipe__list-container {
	margin: 10px 15px 10px 20px;
	background: #fff;
	padding: 0px;
}
.recipe__upper {
	padding: 10px;
}
.recipe__date {
	float:left;
	font-size: 10px;
	color:#4A4A4A;
}
.recipe__place {
	float:right;
	font-size: 10px;
	color:#4A4A4A;
}
.recipe__list-content {
	margin-top: 10px;
	height: 60px;
	padding: 10px;
}


/* ---------------------------------------------- */
/* -------Section Spread News-------------------- */
/* ---------------------------------------------- */

.news {
	padding: 45px 45px 0px 60px;
	background: #e9474b;
}

.news__header {
	text-align: left;
	color: #fff;
}

.news__header-h1 {
	font-size: 40px;
	letter-spacing: 0.52px;
}

.news__header-p {
	width: 40%;
	line-height: 25px;
	font-size: 18px;
	letter-spacing: 0.23px;
}

.news__section {
	width: 100%;
	margin: 25px 0;
}

.news__section input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0px;
	font-size: 18px;
	padding: 12px 8px;
	outline: none;
	border-radius: 5px;
	width: 90%;
	box-sizing: border-box;
	margin-top: 10px;
	color: #979797;
}

.news__inline-label {
	margin-bottom: 10px;
	color: #fff;
	font-size: 18px;
}

.news__inline-list {
	width: 25%;
	float: left;
}

.news__remove {
	margin-top: 45px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	height: 50px;
}

.news__line {
	display: block;
	border: 1px solid #ccc;
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 30px;
}

.news__align {
	text-align: center;
	clear: both;
}

.btn__send {
	background: #fff;
	color: #979797;
	margin: 65px auto;
	height: 45px;
	letter-spacing: 0.23px;
}

.btn__add {
	color: #fff;
	background: transparent;
	margin-top: 30px;
	height: 45px;
	margin-left: 25px;
	letter-spacing: 0.23px;
}

.news_hidden {
	display: none;
}

#news__hide-message {
	color: #fff;
	font-size: 18px;
}

/* ---------------------------------------------- */
/* -------Section Spread Information-------------------- */
/* ---------------------------------------------- */

.about__information {
    float: left;
    padding: 45px;
}
.about__information-history {
	width: 70%;
	float: left;
}
.about__information-place {
	width: 30%;
	float: right;

}


@media screen and (max-width: 736px) {
	/* ----------------------------- */
	/* -------Section Slider-------- */
	/* ----------------------------- */
    /* Section Slider */
    .slider__left-content ,.slider__right-content,.recipe__list,.about__information-history,.about__information-place  {
        width: 100%;
	}
	.navigation__header-logo-text {
		margin-left:105px;
	}
	.navigation {
		padding: 10px 20px 0px 8px;
	}
	.navigation__header-nav--ul .navigation__header-nav--a {
		display: none;
	  }
	  .navigation__header-nav--ul  a.icon {
		cursor: pointer;
		float: right;
		display: block;
		position: absolute;
		top: 70px;
		right: 10px;

	  }
	  .navigation__header-nav--ul.responsive .icon {
		position: absolute;
		right: 10px;
		top: 70px;
	  }
	  .navigation__header-nav--ul.responsive a {
		float: none;
		display: block;
		text-align: left;
	  }
	  .navigation__header-nav--li {
		  margin-left: 0px;
		  margin-top: 15px;
		  float: left;
          width: 100%;
	  }
	.slider__right-content {
		height:395px;
	}
    
    
	/* ---------------------------------------------- */
	/* -------Section Recipe  Filter--------------- */
    /* ---------------------------------------------- */
    /* Recipe Filter */
    
    

    /* ---------------------------------------------- */
	/* -------Section Recipe  overview--------------- */
	/* ---------------------------------------------- */
    /* recipe Overview */
	.grilled__col-3 {
		width: 100%;
		margin: 5px 0;
	}
	.recipe__main-container {
		padding: 10px 40px 10px 0px;
	}
    
    /* ---------------------------------------------- */
	/* -------Section Spread --------------- */
	/* ---------------------------------------------- */
    /* recipe Spread */
	.news {
		padding: 20px;
		margin: 25px auto 0;
	}
	.news__header-p {
		width: 100%;
	}
	.news__inline-list {
		width: 100%;
		margin: 5px 0;
	}
	.news__section {
		margin-top: 10px;
	}
	.news__section input[type="text"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		box-sizing: border-box;
	}
	.news__remove {
		text-align: left;
		height: 30px;
	}
	.btn__send {
		margin-top: 10px;
		height: 50px;
		width: 100%;
	}
	.btn__add {
		margin: 0px;
		height: 50px;
		width: 100%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* ----------------------------- */
	/* -------Section Slider-------- */
	/* ----------------------------- */
	.news__header-p {
		width: 100%;
	}
	.news__inline-list {
		width: 50%;
		margin: 5px 0;
	}
	.btn__add {
		width: 90%;
		margin-left: 0px;
	}
	.news__remove {
		margin-top: 50px;
		height: 40px;
	}
}
